tickTime=2000
initLimit=10
syncLimit=5
dataDir=/var/lib/zookeeper
clientPort=2181
autopurge.purgeInterval=24
autopurge.snapRetainCount=5
quorumListenOnAllIPs=true
admin.enableServer=true

{% for host in groups['zookeeper'] %}
server.{{ hostvars[host]['zookeeper_id'] }}={{ hostvars[host]['ansible_host'] }}:2888:3888
{% endfor %}
